// IMPORTING THE FONTS
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;700;900&family=Josefin+Sans:wght@300;400;600&display=swap');

// RUNNING A GENERAL RESET 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// EXTANAL RESET FOR THE BODY
body{
    background-color: gray;
}

//COLORS
$primary-color: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);
$Dark-Grayish-Red: hsl(0, 6%, 24%);

//COLOR GRADIENT
$Linear-gradient-1: (135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$Linear-gradient-2: (135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

//FONT CONFIGURATION
$Font-size: 21px;
$Font-Family: Josefin Sans, sans-serif;

//FONT WEIGHTS
$normal: 300;
$semi-bold: 400;
$Bold: 600;

// INITIALIZATION OF MEDIA QUERY VARIABLES
$Mobile-width : 700px;
$Tablet-width : 1100px;


//MEDIA QURIES OR BREAKPOINT
@mixin mobile{
    @media (max-width: $Mobile-width){
        @content
    }
};
@mixin tabs{
    @media (max-width: $Tablet-width){
        @content
    }
};
// @mixin desktop{
//     @media (min-width: $Mobile-width){
//         @content
//     }
// }